.container {
    position: relative;
    text-align: center;
	color: rgb(151, 25, 109);
	margin: 0;
	max-width: none;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  body, html {
    height: 100%;
}
.navbar-light .navbar-nav .nav-link:hover {
	color:	#1E90FF;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.63);
	border-radius: .95rem;
	transition: 0.2s;
 }

.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/Ponorama.jpg");
background-repeat: no-repeat;
  height: 70vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#picture{
	width:150px;
	float: left;
	padding-right: 10px;
}
.projects{
	border-radius: 50%;
	width: 250px;
	height: 250px;
	margin: 15px;
	padding: 3px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.507);
	border-radius: 50%;
  }
  .projects:hover{
    opacity: 0.3;
    transition: 0.4s ease-out;
  }
  ul#horizontal li { 
    display:inline;
    margin: center;
    padding-left: 0;
}
  ul {
	padding-inline-start: 0%;   
	}

textarea {
	margin-left: 20px;
}

#submit-btn {
	margin: 10px;
	box-shadow: 0 4px 16px 0 rgba(0,0,0,5);
	width:100px;
	height:50px;
}

#contact :hover {
	color: #4169E1;
}

.links img
{
 width:30px;
 }

#footerSection {
text-align:center;	
}
.jumbotron-fluid{ 
    background-color:#20B2AA;
    color: blue;
    border: 10px;
    margin-bottom: 60px;
	box-shadow: 0 4px 16px 0 rgba(0,0,0,5);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
html{
    scroll-behavior: smooth;
}